
  <div class= "d-flex justify-content-center mb-3">
    <%= image_tag "mug.png", height:60 %>
    <h1 class="titleteam pr-4 pl-4 pb-4"> Bienvenue dans ta coloc !</h1>
  </div>

  <%= simple_form_for(@team) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


    <div class="formteam">
      <div class=" devise_new"><%= f.input :name, label: 'Entre le nom de ton appartement', placeholder: "La ménagerie"%></div>
    </div>

    <div class="formteam">
      <%= label_tag :roomates_emails, "Donne nous les mails de tes colocs" %>
      <div id="roomate-emails">
        <div class="inputteam devise_new mb-2"><%= text_field_tag "roomate_emails[]" %></div>
      </div>
      <div class="">
        <%= f.button :submit, 'ajouter un autre email', class: "btn-add" %>
      </div>
    </div>

    <div class="container d-flex align-items-end justify-content-around position-fixed fixed-bottom mb-5 pb-4">
      <%= image_tag "lamp.png", height: 70 %>
      <%= f.button :submit, "Ajoute ta coloc", class: "button btn-validate" %>
    </div>
  <% end %>
