<h1> Parle nous de ta coloc ! </h1>

<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div>
    <%= f.input :name, label: 'Entre le nom de ton appartement', placeholder: "La ménagerie"%>
  </div>

  <div>
    <%= label_tag :roomates_emails, "Donne nous les mails de tes colocs" %>
    <%= text_field_tag "roomate_emails[]" %>
    <%= text_field_tag "roomate_emails[]" %>
  </div>

  <div class="mt-1">
    <%= f.button :submit, "Ajoute ta coloc", class: "button btn-valide"%>
  </div>
<% end %>
