<%= simple_form_for(@team_task) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<div class="form-inputs" >
  <div class = "row" style="height: 259px">
    <div class="scene">
      <div class="card_task">
        <div class="card__face card__face--front"><%= image_tag "room.png" %>
        </div>
        <div class="card__face card__face--back"><%= f.collection_check_boxes :task_id, Task.all.where(room: "Salon"), :id, :title  %></div>
      </div>
    </div>
    <div class="scene">
      <div class="card_task">
        <div class="card__face card__face--front"><%= image_tag "toilet.png" %>
        </div>
        <div class="card__face card__face--back"><%= f.collection_check_boxes :task_id, Task.all.where(room: "Toilette"), :id, :title  %></div>
      </div>
    </div>
  </div>
  <div class = "row" style="height: 259px">
    <div class="scene">
      <div class="card_task">
        <div class="card__face card__face--front"><%= image_tag "bathroom.png" %>
        </div>
        <div class="card__face card__face--back"><%= f.collection_check_boxes :task_id, Task.all.where(room: "Salle de Bain"), :id, :title  %></div>
      </div>
    </div>
    <div class="scene">
      <div class="card_task">
        <div class="card__face card__face--front"><%= image_tag "kitchen.png" %>
        </div>
        <div class="card__face card__face--back"><%= f.collection_check_boxes :task_id, Task.all.where(room: "Cuisine"), :id, :title  %></div>
      </div>
    </div>
  </div>
  <div class = "row" style="height: 259px">
    <div class="scene">
      <div class="card_task">
        <div class="card__face card__face--front"><%= image_tag "bbq-grill.png" %>
        </div>
        <div class="card__face card__face--back"><%= f.collection_check_boxes :task_id, Task.all.where(room: "Exterieur"), :id, :title  %></div>
      </div>
    </div>
    <div class="scene">
      <div class="card_task">
        <div class="card__face card__face--front"><%= image_tag "drawer.png" %>
        </div>
        <div class="card__face card__face--back"><%= f.collection_check_boxes :task_id, Task.all.where(room: "Autres"), :id, :title  %></div>
      </div>
    </div>
  </div>
  <div class="form-actions" >
    <%= f.button :submit, "Ajouter", class: "button btn-validate m-5"%>
  </div>
  <% end %>
