

<%= simple_form_for(@team_task) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <div class="container d-flex flex-column justify-content-start align-items-center" >

      <div class="scene team-task-card-js card mt-2 ml-1 mr-1 mb-1">
        <div class="card_task">
          <div class="card__face card__face--front card-img-top">
            <%= image_tag "room.png", class:"pb-4" %>
          </div>
          <div class="card__face card__face--back card-img-top ks-cboxtags">
            <%= f.collection_check_boxes :task_id ,Task.all.where(room: "Salon"), :id, :title %>
            <%= image_tag "return.png", height:40, class:"mt-2 arrow return-arrow" %>
          </div>
        </div>
        <h3 class="card-text text-center pb-2"> Salon </h3>
      </div>



      <div class="scene team-task-card-js card mb-1">
        <div class="card_task">
          <div class="card__face card__face--front card-img-top">
            <%= image_tag "toilet.png", class:"pb-4" %>
          </div>
          <div class="card__face card__face--back card-img-top ks-cboxtags">
            <%= f.collection_check_boxes :task_id, Task.all.where(room: "Toilette"), :id, :title %>
            <%= image_tag "return.png", height:40, class:"mt-2 arrow return-arrow" %>
          </div>
          </div>
          <h3 class="card-text text-center pb-2"> Toilettes </h3>
        </div>



      <div class="scene team-task-card-js card ml-1 mr-1 mb-1">
        <div class="card_task">
          <div class="card__face card__face--front card-img-top">
            <%= image_tag "bathroom.png", class:"pb-4" %>
          </div>
          <div class="card__face card__face--back card-img-top ks-cboxtags">
            <%= f.collection_check_boxes :task_id, Task.all.where(room: "Salle de Bain"), :id, :title  %>
            <%= image_tag "return.png", height:40, class:"mt-2 arrow return-arrow" %>
          </div>
        </div>
        <h3 class="card-text text-center pb-2"> Salle de bain </h3>
      </div>



      <div class="scene team-task-card-js card mb-1">
        <div class="card_task">
          <div class="card__face card__face--front card-img-top">
            <%= image_tag "kitchen.png", class:"pb-4" %>
          </div>
          <div class="card__face card__face--back card-img-top ks-cboxtags">
            <%= f.collection_check_boxes :task_id, Task.all.where(room: "Cuisine"), :id, :title  %>
            <%= image_tag "return.png", height:40, class:"mt-2 arrow return-arrow" %>
          </div>
        </div>
        <h3 class="card-text text-center pb-2"> Cuisine </h3>
      </div>



      <div class="scene team-task-card-js card ml-1 mr-1 mb-1">
        <div class="card_task">
          <div class="card__face card__face--front card-img-top">
            <%= image_tag "bbq-grill.png", class:"pb-4" %>
          </div>
          <div class="card__face card__face--back card-img-top ks-cboxtags">
            <%= f.collection_check_boxes :task_id, Task.all.where(room: "Exterieur"), :id, :title  %>
            <%= image_tag "return.png", height:40, class:"mt-2 arrow return-arrow" %>
          </div>
        </div>
        <h3 class="card-text text-center pb-2"> Exterieur </h3>
      </div>



      <div class="scene team-task-card-js card mb-1">
        <div class="card_task">
          <div class="card__face card__face--front card-img-top">
            <%= image_tag "drawer.png", class:"pb-4" %>
          </div>
          <div class="card__face card__face--back card-img-top ks-cboxtags">
            <%= f.collection_check_boxes :task_id, Task.all.where(room: "Autres"), :id, :title  %>
            <%= image_tag "return.png", height:40, class:"mt-2 arrow return-arrow" %>
          </div>
        </div>
        <h3 class="card-text text-center pb-2"> Autres </h3>
      </div>



      <div class="form-actions pt-4 mb-1 d-flex justify-content-center" >
        <%= f.button :submit, "Valider", class:"button btn-validate m-5" %>
      </div>
    </div>
  </div>
<% end %>
