<div class="container">
  <%= image_tag "ceiling-lamp.png", class: "img-lamp-top" %>
</div>
<div class="d-flex align-items-start justify-content-around">
  <%= image_tag "bookshelf.png", class: "img-book-top mr-3" %>
  <div></div>
</div>

<div class="banner-container d-flex flex-column align-items-center justify-content-center">
  <%= image_tag "sofa-banner.png", class: "img-banner-hero mt-5" %>
  <div class="slogan">
    <p>Simple Pratique Amusant</p>

  </div>
 <%= link_to "Commencez!", new_team_path, class: "button btn-start main-btn" %>
</div>

<div class="container d-flex justify-content-between p-0">
  <div class="img-panda mt-5">
  <%= image_tag "panda.png", class: "img-panda-bottom-hero mt-4 ml-1" %>
  </div>
  <div class="text-hero-banner mt-2">
    <p> " Marre de te prendre la tête avec tes colocs?
    Fais comme les pandas reste zen,
    Tu t’occupes du bon côté de la coloc, et nous du mauvais! " </p>
  </div>
</div>
