<div class="navbar navbar-expand navbar-light navbar-lewagon sticky-top pt-3 bg-transparent">
  <div>
      <% unless current_page?(root_path) %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "log.png" %>
        <% end %>
      <% end %>
  </div>

  <div class="collapse navbar-collapse navbar-homepage" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= image_tag "open-menu.png", width: 30, class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <p class = "dropdown-item"> <%= current_user.pseudo %> </p>
            <%= link_to "Mes tâches", chores_path, class: "dropdown-item" %>
            <%= link_to "Choisir les tâches",  new_team_task_path, class: "dropdown-item" %>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item nav-connect">
          <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>



<div class="container">
  <%= image_tag "ceiling-lamp.png", class: "img-lamp-top" %>
</div>
<div class="d-flex align-items-start justify-content-around">
  <%= image_tag "bookshelf.png", class: "img-book-top mr-3" %>
  <div></div>
</div>

<div class="banner-container d-flex flex-column align-items-center justify-content-center">
  <%= image_tag "sofa-banner.png", class: "img-banner-hero mt-5" %>

  <div class="slogan">
    <p>Le ménage sans équivoque</p>
  </div>

 <!-- Si l'user n'est pas connecté -->
  <% if current_user.nil? %>
    <%= link_to "Commencez!", new_team_path, class: "button btn-start main-btn"%>
 <!-- Si l'user est déja connecté --->
 <!-- Si user co a une team mais pas encore de team task -->
  <% elsif current_user.team.team_tasks.nil? %>
    <%= link_to "Choisis tes tâches!", team_tasks_path, class: "button btn-start main-btn"%>
  <% else %>
    <%= link_to "#{current_user.team.name}", chores_path, class: "button btn-start main-btn text-center" %>
  <% end %>


</div>


<div class="container d-flex justify-content-between p-0">
  <div class="img-panda mt-5">
  <%= image_tag "panda.png", class: "img-panda-bottom-hero mt-4 ml-1" %>
  </div>
  <div class="text-hero-banner mt-2">
    <p> " Marre de te prendre la tête avec tes colocs?
    Fais comme les pandas reste zen,
    Tu t’occupes du bon côté de la coloc, et nous du mauvais! " </p>
  </div>
</div>
