<div class="d-flex align-items-start justify-content-between">
  <%= image_tag "ceiling-lamp.png", class: "img-lamp-top" %>
  <div></div>
  <%= image_tag "bookshelf.png", class: "img-book-top mr-4 pr-5" %>
</div>

<div class="banner-container d-flex flex-column align-items-center justify-content-center">
  <%= image_tag "sofa-banner.png", class: "img-banner-hero mt-5" %>

  <div class="slogan">
    <p>Simple Pratique Amusant</p>
  </div>

 <!-- Si l'user n'est pas connecté -->
  <% if current_user.nil? %>
    <%= link_to "Commencez!", new_team_path, class: "button btn-start main-btn"%>
 <!-- Si l'user est déja connecté --->
 <!-- Si user co a une team mais pas encore de team task -->
  <% elsif current_user.team_id.nil? %>
    <%= link_to "Crée ta Cooloc!", new_team_path, class: "button btn-start main-btn"%>
  <% else %>
    <%= link_to "Au travail!", chores_path, class: "button btn-start main-btn text-center" %>
  <% end %>


</div>


<div class="container d-flex justify-content-between p-0">
  <div class="img-panda mt-5">
  <%= image_tag "panda.png", class: "img-panda-bottom-hero mt-4 ml-1" %>
  </div>
  <div class="text-hero-banner mt-2">
    <p> " Marre de te prendre la tête avec tes colocs?
    Fais comme les pandas reste zen,
    Tu t’occupes du bon côté de la coloc, et nous du mauvais! " </p>
  </div>
</div>
