<h1 class = "titlechores pt-5 pb-3"><%= "C'est parti chez #{current_user.team.name}!"%></h1>

<div class="buttonchore">
   <a class="choreme noclicked"href="../chores">Mes tâches</a>
  <p class="choreall clicked">Le ménage</p>
</div>

<div class="card-chores">
  <h2 class="top-chores"><%= Date.today.strftime('%B') %></h2>
  <% @team_monthly_chores.each do |monthly_chore| %>
  <div class="chore">
    <p class="chorename"> <%= "#{monthly_chore.task.title} - #{monthly_chore.task.room}" %> </p>
    <p class="chorerespo"><%= monthly_chore.user.pseudo%></p>
    <% if monthly_chore.status == "pending" %>
    <div class="boxes">
      <%= link_to change_status_done_chore_path(monthly_chore), method: :patch do %>
      <p class="greenbox"><i class="fas fa-check-circle"></i></p>
      <% end %>
      <%= link_to change_status_uncomplete_chore_path(monthly_chore), method: :patch do %>
      <p class="redbox"><i class="fas fa-times-circle"></i></p>
      <% end %>
    </div>
      <% else %>
      <%= monthly_chore.status %>
      <%= link_to "changer le statut", change_status_pending_chore_path(monthly_chore), method: :patch %>
      <% end %>
  </div>
  <%end%>
</div>



<% @team_weekly_chores_by_week_number.each do |weekly_chore|  %>
<div class="card-chores">
  <h2 class="top-chores"><%= "Semaine du #{weekly_chore[0]}" %></h2>
  <% weekly_chore[1].each do |chore_per_user| %>
  <div class="chore">

    <p class="chorename"> <%= "#{chore_per_user.task.title} - #{chore_per_user.task.room}" %> </p>
    <p class="chorerespo"><%= chore_per_user.user.pseudo %></p>
      <% if chore_per_user.status == "pending" %>
    <div class="boxes">
      <%= link_to change_status_done_chore_path(chore_per_user), method: :patch do %>
      <p class="greenbox"><i class="fas fa-check-circle"></i></p>
      <% end %>
      <%= link_to change_status_uncomplete_chore_path(chore_per_user), method: :patch do %>
      <p class="redbox"><i class="fas fa-times-circle"></i></p>
      <% end %>
    </div>
      <% else %>
      <%= chore_per_user.status %>
      <%= link_to "changer le statut", change_status_pending_chore_path(chore_per_user), method: :patch %>
      <% end %>
  </div>
  <% end %>

</div>
<% end %>
