<h1 class = "titlechores pt-5 pb-3"><%= "C'est parti chez #{current_user.team.name}!"%></h1>

<div class="buttonchore mb-4">
  <p class="choreme clicked">Mes tâches</p>
  <a class="choreall noclicked"href="../team/chores">Le ménage</a>
</div>

<div class="card-chores">
  <h2 class="top-chores"><%= Date.today.strftime('%B') %></h2>
  <% @monthly_chores.each do |monthly_chore| %>
    <div class="chore">
      <p class="chorename"> <%= "#{monthly_chore.task.title} - #{monthly_chore.task.room}" %> </p>
      <p class="chorerespo"><%= monthly_chore.user.pseudo%></p>

      <% if monthly_chore.status == "pending" %>
      <div class="boxes">
        <%= link_to change_status_done_chore_path(monthly_chore), method: :patch do %>
        <p class="greenbox"><i class="fas fa-check-circle"></i></p>
        <% end %>
        <%= link_to change_status_uncomplete_chore_path(monthly_chore), method: :patch do %>
        <p class="redbox"><i class="fas fa-times-circle"></i></p>
        <% end %>
      </div>
        <% else %>
        <%= monthly_chore.status %>
        <%= link_to "changer le statut", change_status_pending_chore_path(monthly_chore), method: :patch %>
        <% end %>

    </div>
  <%end%>
</div>



<% @weekly_chores_by_week_number.each do |weekly_chore|  %>
<div class="card-chores">
  <h2 class="top-chores"><%= "Semaine du #{weekly_chore[0]}" %></h2>
  <div class="chore">
    <p class="chorename"> <%= "#{weekly_chore[1].first.task.title} - #{weekly_chore[1].first.task.room}"%> </p>
    <p class="chorerespo"><%= weekly_chore[1].first.user.pseudo %></p>
  <% if weekly_chore[1].first.status == "pending" %>
    <div class="boxes">
      <%= link_to change_status_done_chore_path(weekly_chore[1]), method: :patch do %>
      <p class="greenbox"><i class="fas fa-check-circle"></i></p>
      <% end %>
      <%= link_to change_status_uncomplete_chore_path(weekly_chore[1]), method: :patch do %>
      <p class="redbox"><i class="fas fa-times-circle"></i></p>
      <% end %>
    </div>
      <% else %>
      <%= weekly_chore[1].first.status %>
      <%= link_to "changer le statut", change_status_pending_chore_path(weekly_chore[1]), method: :patch %>
      <% end %>
  </div>
</div>
<% end %>
