<div class="buttonchore">
  <p class="choreme clicked">Mes tâches</p>
  <a class="choreall noclicked"href="../team/chores">Les tâches</a>
</div>

<h2 class="top-chores"><%= Date.today.strftime('%B') %></h2>
<% @monthly_chores.each do |monthly_chore| %>
  <div class="chore">
    <p class="chorename"> <%= monthly_chore.task.title %> </p>
    <p class="chorerespo"><%= monthly_chore.user.pseudo%></p>
    <div class="boxes">
      <p class="greenbox"><i class="fas fa-check-circle"></i></p>
      <p class="redbox"><i class="fas fa-times-circle"></i></p>
    </div>
  </div>
<%end%>

<% @weekly_chores_by_week_number.each do |weekly_chore|  %>
<h2 class="top-chores"><%= "Semaine du #{weekly_chore[0]}" %></h2>
  <div class="chore">
    <p class="chorename"> <%= weekly_chore[1].first.task.title %> </p>
    <p class="chorerespo"><%= weekly_chore[1].first.user.pseudo %></p>
    <div class="boxes">
      <p class="greenbox"><i class="fas fa-check-circle"></i></p>
      <p class="redbox"><i class="fas fa-times-circle"></i></p>
    </div>
  </div>
<% end %>
